.overlay{
    position: absolute;
    top: 7%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
} 

#loginVideo{
    position: absolute;
    top: 58%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#sign-in{
    position: absolute;
    z-index: 2;
    display:flex;
    top: 40%;
    left: 40%
}