.overlay{
    position: absolute;
    top: 3%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
} 

#loginVideo{
    position: absolute;
    top: 53%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


#sign-in, #sign-up, #destinationForm{
    position: absolute;
    z-index: 1;
    display:flex;
    top: 30%;
    left: 40%
}

#basic-navbar-nav{
    z-index: 2;
}

#card, #card-body{
    border-radius: 8px;
}
#card-img{
    border-radius: 8px 8px 0 0;
}

.cards {
    z-index: 2
}

