.overlay{
    position: absolute;
    top: 3%;
    left: 0;
    height: auto;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
} 

#loginVideo{
    position: fixed;
    top: 56%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
}


#sign-in, #sign-up, #destinationForm{
    position: absolute;
    z-index: 1;
    display:flex;
    top: 30%;
    left: 43%
}

#basic-navbar-nav{
    z-index: 2;
}



#card, #card-body{
   width: 30rem;
   border: 0px solid black;
    border-radius: 8px;
    
}
#card-img{
    border-radius: 8px 8px 0 0;
}

.cards {
    z-index: 2
}

/* @media only screen and (max-width: 1280px ){
    #loginVideo{
        top: 53%;
    }
}
@media only screen and (max-width: 1920px ){
    #loginVideo{
        top: 52%;
    }
}
@media only screen and (max-width: 3840px ){
    #loginVideo{
        top: 51%;
    }
} */
